<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAVIGATION MAP</title>
    <!--<link rel="stylesheet" href="styles.css">-->
    <link href="../static/content/styles.css" rel="stylesheet" />
</head>
<body>

    <header>

        <div class="select_campus">
            <select id="options" name="options">
                <option value="option1">SV CAMPUS</option>
                <option value="option2">ST CAMPUS</option>
            </select>
        </div>

        <div class="home-container">
            <button id="btn_home" class="home_button">
                <!-- BUTTON IS TRANSPARENT-->
                <div class="Home_img">
                    <img src="{{url_for('static', filename='Images/Home_icon.png')}}" />
                </div>
        </div>

    </header>

    <main>

        <aside>
            <!-- FOR LOGO-->
            <div class="circle-container">
                <img src="path/to/your/image.jpg" id="circle_img" alt="LOGO">

                <span class="circle-text"></span>
            </div>

            <div class="search-bar">
                <input type="text" id="search_bar" placeholder="Search here..." />
            </div>

            <div class="button-svg-container">
                <div class="submit1">
                    <input type="button" id="submit" value="Submit" />
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="45" fill="none" stroke="black" stroke-width="2" />
                    <path d="M35,50 L50,35 L65,50" fill="none" stroke="black" stroke-width="5" />
                    <path d="M50,35 L50,65" fill="none" stroke="black" stroke-width="5" />
                </svg>

            </div>
            <div class="filter-container">
                <input type="button" id="filter_classrooms" value="Classrooms Section" />
                <input type="button" id="filter_department" value="Department/Office Section" />
                <input type="button" id="filter_restrooms" value="Restroom" />

            </div>

        </aside>
        <!-- FLOOR MAPS -->
        <div class="floor_map-container">
            <!--<img src="/images/1st floor.png" alt="floor" class="floor_map">-->
            <img id="img_map" class="floor_plan" src="{{url_for('static', filename='Images/1st floor.png')}}" usemap="#image-map" />

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <img id="img_modal" src="" />
                </div>

            </div>

        </div>

        <map name="image-map">
            <area target="" alt="yrdy" title="yrdy" href="" coords="287,170,340,218" shape="rect" id="backrooms">
        </map>

    </main>
    <!-- SELECT FLOOR-->
    <div class="floor-container">
        <select id="floors" name="floor_options" onchange="navigatefloor()">
            <option value="index1" selected>1st Floor</option>
            <option value="index2">2nd Floor</option>
            <option value="index3">3rd Floor</option>

        </select>

    </div>

</body>

<footer>

    <div class="fire_exit-container">
        <button id="btn_fire_exit" class="fire_exit_button">
            <!-- BUTTON IS TRANSPARENT-->
            <div class="fire_exit_img">
                <!--<img src= "/images/Fire_exit_icon.png" alt="Fire-exit-icon">-->
                <img src="{{url_for('static', filename='Images/Fire_exit_icon.png')}}" />
            </div>
    </div>

    <div class="feedback-container">
        <button id="btn_feedback" class="feedback_button">
            <!-- BUTTON IS TRANSPARENT-->
            <div class="feedback_img">
                <!--<img src= "/images/Feedback icon.png" alt="Feedback-icon">-->
                <img src="{{url_for('static', filename='Images/Feedback icon.png')}}" />
            </div>
    </div>

</html>
<script src="../static/scripts/jquery-1.10.2.min.js"></script>

<script>
    function navigatefloor(e) {

        const selectedValue = $("#floors").val();

        if (selectedValue == "index1") {

            $("#img_map").attr("src", "{{url_for('static', filename='Images/1st floor.png')}}");
            $("#floors").attr("value", "index1");
            $("#floors").change();

        }

        else if (selectedValue == "index2") {

            $("#img_map").attr("src", "{{url_for('static', filename='Images/2nd floor.png')}}");
            $("#floors").attr("value", "index2");
            $("#floors").change();

        }

        else if (selectedValue == "index3") {

            $("#img_map").attr("src", "{{url_for('static', filename='Images/3rd floor.png')}}");
            $("#floors").attr("value", "index3");
            $("#floors").change();
        }

    }
</script>

<script>
    $(document).ready(function () {
        var modal = document.getElementById("myModal");
        var img_modal = document.getElementById("img_modal");
        var img_map = document.getElementById("img_map");

        $("#backrooms").on("click", function (e) {
            e.preventDefault();

            if (modal != null) {
                modal.style.display = "block";
                img_modal.src = "{{url_for('static', filename='Images/sample.jpg')}}"
            }

        });

        $(".close").on("click", function () {
            modal.style.display = "none";
        });

        $(window).on("click", function (e) {
            if (e.target == modal) {
                modal.style.display = "none";
            }
        });

        $("#filter_classrooms").on("click", function () {
            img_map.src = "{{url_for('static', filename='Images/rooms.png')}}";
        });

        $("#filter_department").on("click", function () {
            img_map.src = "{{url_for('static', filename='Images/departments.png')}}";
        });

        $("#filter_restrooms").on("click", function () {
            img_map.src = "{{url_for('static', filename='Images/restrooms.png')}}";
        });

        $("#submit").on("click", function () {
            var searchVal = $("#search_bar").val();

            switch (searchVal.toLowerCase()) {
                case "classroom":
                    img_map.src = "{{url_for('static', filename='Images/demopin.png')}}";
                    break;
                case "office":
                    img_map.src = "{{url_for('static', filename='Images/office.jpeg')}}";
                    break;
                case "restroom":
                    img_map.src = "{{url_for('static', filename='Images/restroom.jpg')}}";
                    break;

                default:
                    $("#search_bar").css("border-color", "red");
            }
        });

        $("#btn_home").on("click", function () {
            window.location.href = "{{ url_for('home') }}"
        });

        $("#btn_feedback").on("click", function () {
            alert("Create a form here for the feedback. FRONT END");
        });

        $("#btn_fire_exit").on("click", function () {
            alert("Upload image here for the current floor with the fire exit indicators.");
        });
    });
</script>